# Workshop 3 - skills development tasks

### Overview

Coding skills are an incredibly useful capacity for doing data analytics. In our first workshop, we covered the basics of the Python programming language:
 - variables
 - values
 - data types
 - expressions
 - statements
 - if-else
 - for loops

The questions listed below are designed to stretch your coding skills *beyond* what is required for the vast majority of projects in the Corndel Data Analytics Diploma.

By the end of this unit, we want every learner to be able to be;
 - comfortable manipulating different variables and data types
 - starting to develop the ability to *think algorithmically*
 - able to interpret basic if-else statements and for loops within existing code

To complete the skills development task for workshop 3, you will need to answer 3 of the questions listed below. We have grouped them in order of difficulty. It is completely your choice which questions you answer.

### Output

You will need to submit your code as a Jupyter Notebook file (.ipynb). This can be downloaded from the Jupyter Notebook user interface by going to File >> Download as >> Notebook (.ipynb).

Your code must be submitted, two weeks from the date of issue.

# Questions

### Beginner level

In [1]:
## QUESTION 1 ##
# The area of a trapezium is calculated by taking the average of the lengths of the horizontal sides (a & b),
#  and multiplying by the height.
# Complete the code below to produce some re-usable code that will caluclate the area of a trapezium,
#  given values for a, b, and h.

![title](areaofatrapezium.png)

In [ ]:
## ANSWER 1 ##

a = 
b = 
h = 

<insert lines
 of code here>
    
print(area)

In [ ]:
## QUESTION 2 ##
# For a given numeric input, N, produce some re-usable code that will print
#  one of the following messages, depending on the value of N:
#  - "N is zero"
#  - "N is a positive integer"
#  - "N is a negaitve integer"
#  - "N is positive but not an integer"
#  - "N is negative but not an integer"

In [ ]:
## ANSWER 2 ##

N = 

<insert lines
 of code here>
<you will need to use an
 if-else structure>

In [ ]:
## QUESTION 3 ##
# Produce some re-usable code that uses a for loop
#  concatenate* all the elements of a list into one string.
# We have provided an example list for you to start with.

# * Concatenate means to put two strings next to each other:
#   e.g. concatenating 'Hi' with 'Jack' would give 'HiJack'.

In [ ]:
## ANSWER 3 ##

list_input = ['Hi','Jack','my','name','is','Jill']

<insert lines
 of code here>
<you will need to use a
 for loop structure>

### Intermediate level

These questions use a combination of if-else statement, for loops, and other functions.
They also require a greater element of problem solving than the beginner questions,
in addition to the need to convert instructions into code.

In [ ]:
## QUESTION 4 ##
# Produce some re-usable code that counts the number of times
#  each vowel occurs in a string.

In [ ]:
## ANSWER 4 ##

string_input = """
midnight at my corridor
i thought i saw things unholy
a shadow gliding at a lift landing
as a dog howls, primordial, distant
barking at
a sky of rusty slag bulging with a storm
a wind mobilizing X-wings swooping in
on dim corridors in attack flights
as i turn a lock on my door
and walk into a warm room to my child hugging a pikachu
smiling waiting for daddy.
"""

<insert lines
 of code here>
    
print('Number of As = '+str(a_count))
print('Number of Es = '+str(e_count))
print('Number of Is = '+str(i_count))
print('Number of Os = '+str(o_count))
print('Number of Us = '+str(u_count))

In [ ]:
## QUESTION 5 ##
# Each new term in the Fibonacci sequence is generated by adding the previous two terms.
# By starting with 1 and 2, the first 10 terms will be:
#   1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

# Create some code to calculate the 1000th number in the Fibonacci sequence.

In [ ]:
## ANSWER 5 ##

<insert lines
 of code here>
<you will need to use a
 for loop structure>

In [ ]:
## QUESTION 6 ##
# Produce some re-usable code that checks whether or not a given integer is a palindrome*.

# * A palindrome is a number which looks the same if all its digits are reversed.

In [ ]:
## ANSWER 6 ##

integer_input = 902209

<insert lines
 of code here>
<you will need to use an
 if-else structure>
<you will need to use a
 for loop structure>

### Advanced level

These questions require some mathematical problem solving,
and may involve functions or techniques that were not covered in workshop 3.

In [ ]:
## QUESTION 7 ##
# Find all the right-angled triangles with a perimeter of 120.
# You will need to make use of Pythagoras' theorem.

In [ ]:
## ANSWER 7 ##

<insert lines
 of code here>

In [ ]:
## QUESTION 8 ##
# Find the longest word in a given string input.

In [ ]:
## ANSWER 8 ##

string_input = """
midnight at my corridor
i thought i saw things unholy
a shadow gliding at a lift landing
as a dog howls, primordial, distant
barking at
a sky of rusty slag bulging with a storm
a wind mobilizing X-wings swooping in
on dim corridors in attack flights
as i turn a lock on my door
and walk into a warm room to my child hugging a pikachu
smiling waiting for daddy.
"""

<insert lines
 of code here>

In [ ]:
## QUESTION 9 ##
# How many different ways can £2 be made using any number of coins?
# Coins = 1p, 2p, 5p, 10p, 20p, 50p, £1, £2

# Extra credit:
# If we were to limit ourselves to having just 4 types of coin in circulation,
# what values of coins would be ideal to yield the smallest number of coins
# in any transaction less than £1?
# 1p, 2p, 15p, 50p, for example?

In [ ]:
## ANSWER 9 ##

<insert lines
 of code here>